html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 12px;
}
input {
  width: 100%;
  height: 50px;
  background-color: transparent !important;
  font-size: 18px;
  font-weight: 400;
  color: #fff !important;
}
